.header_header{ 
    width               : 100vw;
    height              : 400px; 
    max-height          : 500px; 
    background-image    : linear-gradient(
        to bottom,
        rgba(248, 248, 248, 0.9),
        rgb(12, 12, 12, 0.3)), url(../img/header_bg_ariza.png); 
    background-size     : cover;
    display             : flex;
    flex-direction      : column;
    justify-content     : space-between;
    box-shadow          : grey 2px 2px 6px;
}

.header_title{
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}

.header_title-h1{
    color       : var(--color-terciario);
    text-shadow : #000 2px 1px 2px;
}

.profile{
    rotate      : -25deg;
    color       : #000;
    text-shadow : var(--color-terciario) 2px 1px 2px;
}

nav{
    box-shadow  : grey 2px 2px 6px;
}

.main-main{
    margin-top: 100px;
}

.section_article-header{
    background-color    : var(--color-terciario); 
    line-height         : 2.5; 
    color               :#000; 
    font-weight         : bold;
}

.footer-footer{
    background-color    : #252525;
}

.footer_footer1, .footer_footer2 {
    line-height : 2;
}

.footer_footer2{
    background-color: var(--color-terciario);
}

.footer_header{
    padding-left        : 10px;  
    background-color    : var(--color-terciario); 
    font-weight         : bold;
}

.footer_main{
    padding-left        : 10px; 
    background-color    : #fff; 
    color               : #000;
}

.fm2{
    display         : flex;
    justify-content : space-around;
    align-items     : center;
}

.footer_main-img{
    height  : 75px; 
}

.fim2{
    height  :50px;
}

.shadows{
    box-shadow          : grey 2px 4px 7px;
}

@media screen and (min-width: 1024px) {
    .header_header{
        width       : 100%;
        min-height  : 100vh;
    }
    
    .header_title-h1{
        font-size   : 130px;
    }
}